// Body
$body-bg: #000000;

$font-akrobat: 'Akrobat';
$font-helvetica: 'Helvetica Neue';

// Typography
$font-family-sans-serif: $font-akrobat, sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
//$orange: #f6993f;
$orange: #f2a900;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;


//$color-orange: #ffc000;
$color-orange: #f2a900;
$color-main: #ffffff;
$color-gold: #edbb29;

$min620: '(min-width: 620px)';
$max620: '(max-width: 620px)';
$min1400: '(min-width: 1400px)';

$font60: 6rem;
$font33: 3.3rem;
$font24: 2.4rem;

$min620: '(min-width: 620px)';

$max620: '(max-width: 620px)';
$min1400: '(min-width: 1400px)';
